main { width: 996px; }

main ul { display: flex; flex-wrap: wrap; justify-content: space-between; }

main ul li { width: 325px; height: 325px; margin: 5px 0; }

main ul li dl { width: 325px; height: 325px; }

main ul li dl dt { width: 325px; height: 270px; overflow: hidden; }

main ul li dl dt img:hover { width: 120%; }

main ul li dl dd { width: 325px; height: 52px; background: #87d0e3; font-size: 12px; color: white; line-height: 14px; }

main ul li dl dd p:nth-child(1) { font-size: 13px; padding-top: 12px; padding-left: 15px; }

main ul li dl dd p:nth-child(2) { font-size: 12px; padding-top: 5px; padding-left: 15px; }

main ul li dl dd p:nth-child(2) b { margin-right: 20px; float: right; text-align: right; }
